#person1 {
    background: lightblue;
}

#person2 {
    background: lightyellow;
}

#person3 {
    background: lightblue;
}

#person4 {
    background: lightyellow;
}

#person5 {
    background: lightblue;
}